dfg-render-repeater {
    width: 100%;
}

dfg-render-container {
    width: 100%;
}

.tiaa-sub-container-90pct>dfg-render-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.tiaa-sub-container-70pct>dfg-render-container {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.tiaa-sub-container-50pct>dfg-render-container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

div.tiaa-contract-container-rounded>dfg-render-container {
    background: #faf8fe;
    border-radius: 5px;
    padding: 10px;
}

.tiaa-form-heading {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
}

.tiaa-form-heading-info {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 12px;
    color: #5c5c5c;
}

.tiaa-form-line-item {
    font-size: 12px;
    font-weight: 600;
    color: rgba(71, 71, 71, 0.9);
    text-transform: uppercase;
    padding-top: 5px;
}

.tiaa-form-sub-line-item {
    margin-top: 22px !important;
    font-weight: 100;
    color: #838383;
}

.tiaa-form-sub-line-item-darker {
    font-weight: 400;
    color: #5c5c5c;
}

.tiaa-form-sub-line-item-darker:hover {
    color: #5c5c5c;
}

.tiaa-form-sub-line-item-darker.dfg-info-label {
    margin-top: 0 !important;
}

.tiaa-form-font-size-12 {
    font-size: 12px;
}

.tiaa-form-sub-line-item-checkbox.mat-checkbox-checked .tiaa-form-sub-line-item-checkbox .mat-checkbox-frame {
    border-width: 1px;
    border-radius: 4px;
}

.tiaa-form-sub-line-item-checkbox.mat-checkbox-checked .mat-checkbox-background {
    background: #42464c;
}

.tiaa-primary-btn {
    background-color: #02c1ff;
    font-weight: bold;
}

.tiaa-primary-btn.mat-raised-button {
    border-radius: 25px;
    padding: 0 30px;
}

.tiaa-secondary-btn {
    background-color: grey;
}

.tiaa-secondary-btn-white {
    background: #fffcff;
    border-radius: 18px !important;
    color: #6c8e99;
}

.tiaa-justify-right {
    justify-content: right;
}

.tiaa-justify-left {
    justify-content: left;
}

.tiaa-btn-rounded {
    background: #fffeff;
    color: #000;
    border-radius: 18px !important;
}
