.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* line-height: 100%; */
  font-size: 1.5rem;
  color: #333;
}

.nav {
  order: -1;
}

.footer {
  background: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  background: Tan;
}

.article-container {
  margin: 5px;
  padding: 25px;
}

/* .cdk-overlay-pane{
  overflow: auto;
} */

@media (max-width: 30rem) {
  .main {
    flex: 1 0 auto;
  }
}

@media (min-width: 30rem) {
  .nav {
    display: block;
  }

  .wrapper {
    flex-direction: row;
  }

  .main {
    flex: 1 1 auto;
  }

  .aside {
    width: 20%;
  }
}

/*Form Layout*/
app-section-render > dfg-dynamic-form .mat-card {
  margin: 0 20%;
  padding: 0 5%;
}


.form-container {
  margin: -1px;
  /* padding: 5px; */
  padding-bottom: 0px !important;
}

.form-container>* {
  width: 100%;
}

.form-container >.form-item {
  /* margin: 4px; */
  padding: 10px;
  /* padding-bottom: 0px !important; */
  margin-right: 0px !important;
  /* border-right: 1px solid #e8e8e5; */
  width: 100%;
}

.form-container>.form-item:last-child {

  border-right: 0px;
}

.form-container>.form-item>mat-form-field {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.form-action {
  float: right;
}

md-tooltip .md-content {
  height: auto;
}

/* Mobile Layout - START*/

@media screen and (max-width: 667px) {

  .form-container>.form-item {
    margin: 4px;
    padding: 10px;
    margin-right: 1px !important;
    border: 0px;
  }

  aside {
    padding-left: 0px;
    padding-top: 10px;
  }

  app-section-render > dfg-dynamic-form .mat-card {
    margin: 0 1%;
    padding: 0 1%;
  }
  
}

/* Mobile Layout - END*/