/* For use in src/lib/core/theming/_palette.scss */
$md-tiaa-primary: (50 : #e0f8ff,
    100 : #b3edff,
    200 : #80e1ff,
    300 : #4dd5ff,
    400 : #26ccff,
    500 : #00c3ff,
    600 : #00bdff,
    700 : #00b5ff,
    800 : #00aeff,
    900 : #00a1ff,
    A100 : #ffffff,
    A200 : #f2faff,
    A400 : #bfe4ff,
    A700 : #a6daff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));


$md-tiaa-accent: (50 : #f9f5e4,
    100 : #f1e7bc,
    200 : #e8d790,
    300 : #dec764,
    400 : #d7bb42,
    500 : #d0af21,
    600 : #cba81d,
    700 : #c49f18,
    800 : #be9614,
    900 : #b3860b,
    A100 : #fff6e0,
    A200 : #ffe7ad,
    A400 : #ffd77a,
    A700 : #ffd060,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));