/* For use in src/lib/core/theming/_palette.scss */
$md-tiaa-primary: (50 : #e0f8ff,
    100 : #b3edff,
    200 : #80e1ff,
    300 : #4dd5ff,
    400 : #26ccff,
    500 : #00c3ff,
    600 : #00bdff,
    700 : #00b5ff,
    800 : #00aeff,
    900 : #00a1ff,
    A100 : #ffffff,
    A200 : #f2faff,
    A400 : #bfe4ff,
    A700 : #a6daff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));


$md-tiaa-accent: (50 : #fefbe7,
    100 : #fdf6c2,
    200 : #fcf09a,
    300 : #fbe971,
    400 : #fae552,
    500 : #f9e034,
    600 : #f8dc2f,
    700 : #f7d827,
    800 : #f6d321,
    900 : #f5cb15,
    A100 : #ffffff,
    A200 : #fffcf1,
    A400 : #fff2be,
    A700 : #ffeda4,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));