<div class="toggle-aside-button">
    <button mat-icon-button (click)="closePopup()">
        <mat-icon fontSet="fa" class="fa-close"></mat-icon>
    </button>
</div>
<div>
    <dfg-dynamic-form [formHeader]="'Control Details'" [layoutMode]="'row'"
        [formData]="this.dialogService.dialogFormData" [formConfig]="this.dialogService.dialogFormConfig">
    </dfg-dynamic-form>
</div>

<div mat-dialog-actions class="dialog-continue-btn">
    <button mat-raised-button class="tiaa-primary-btn" (click)="closePopup()" cdkFocusInitial>Continue</button>
</div>