<body class="site mat-typography" >
    <app-notification></app-notification>
    <header>
        <app-header (toggle)="onToggle($event)" ></app-header>
    </header>
    <!-- <div class="toolbar">
        <app-toolbar></app-toolbar>
    </div> -->
    <mat-drawer-container class="site-content">
        <mat-drawer class="site-navbar-drawer" #sidenav [opened]="!!this.appRuntimeInfoService.masterConfig" [mode]="mobileQuery.matches ? 'over' : 'side'">
            <nav class="site-navbar" fxFlex="1 6">
                <app-left-nav></app-left-nav>
            </nav>
        </mat-drawer>
        <mat-drawer-content>
            <article> 
                <div fxLayout="column" fxFill>               
                    <div class="artical-header" >
                        <app-artical-header></app-artical-header>
                    </div>
                    <div fxFlexAlign="stretch" class="artical-body">
                        <div [fxLayout]="this.uiMessageService.isOnMobileDevice ? 'column' : 'row'" fxFill>
                            <div [fxFlex]="this.uiMessageService.expandedAsideCard ? '4 1 80%' : '4 1 100%' ">
                                <div class="toggle-aside-button" *ngIf="this.uiMessageService.showToggelAsideButton">
                                    <button mat-icon-button (click)="onToggleAside()">
                                        <mat-icon fontSet="fa" [fontIcon]="this.uiMessageService.expandedAsideCard ? 'fa-angle-right':'fa-angle-left'"></mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                            <aside *ngIf="this.uiMessageService.expandedAsideCard" 
                                [fxFlex]="this.uiMessageService.expandedAsideCard ? '1 6 20%' : '1 6 0%'" 
                                [@flyInOut]="this.uiMessageService.expandedAsideCard">
                                <app-aside></app-aside>
                            </aside>
                        </div>
                    </div>                
                </div>
            </article>
        </mat-drawer-content>
    </mat-drawer-container>
    <footer class="primary-bg">
        <app-footer></app-footer>
    </footer>
</body>