<!--
<mat-card class="">
    <mat-card-content>
        Form aside details
        <dfg-dynamic-form [formConfig]='this.asideService.asideFormConfig' [layoutMode]="'column'" ></app-dynamic-form>
    </mat-card-content>
</mat-card> 
-->

<div class="toggle-aside-button">
    <button mat-icon-button (click)="popOut()">
        <mat-icon fontSet="fa" class="fa-clone fa-flip-vertical"></mat-icon>
    </button>
</div>
<div>
    <dfg-dynamic-form
        [formHeader]="'Control Details'"
        [layoutMode]="'column'"
        [formData]="this.asideService.asideFormData"
        [formConfig]="this.asideService.asideFormConfig">
    </dfg-dynamic-form>
</div>