<!-- <div class="form-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" 
  fxLayoutGap.xs="0" fxLayout fxLayout.xs="column">
  <div class="form-item" fxFlex>Item 1</div>
  <div class="form-item" fxFlex>Item 2</div>
  <div class="form-item" fxFlex>Item 3</div>
</div>

<div class="form-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" 
  fxLayoutGap.xs="0" fxLayout fxLayout.xs="column">
  <div class="form-item" fxFlex>Item 4</div>
  <div class="form-item" fxFlex>Item 5</div>
</div> -->

<mat-card>
    <mat-card-header>
        <mat-card-title>
          <h5>Sample Form</h5>
        </mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
      <mat-card-content>
        <div class="form-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
          fxLayoutGap.xs="0" fxLayout fxLayout.xs="column">
          <div class="form-item" fxFlex>
              <mat-form-field>
                  <input matInput type="email" id="inputEmail" placeholder="Email">
              </mat-form-field>
          </div>
          <div class="form-item" fxFlex>
            <mat-form-field>
              <input matInput type="password" id="inputPassword" placeholder="Password">
            </mat-form-field>
          </div>
        </div>
        <div class="form-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" 
          fxLayoutGap.xs="0" fxLayout fxLayout.xs="column">
          <div class="form-item" fxFlex>
              <mat-form-field>
                  <input matInput type="text" id="inputAddress" placeholder="Address">
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="right">
          <button mat-raised-button>Save</button>  
          <button mat-raised-button>Cancel</button>      
      </mat-card-actions>
    <!-- <mat-card-footer>
      Footer
    </mat-card-footer> -->
</mat-card>


<!-- 
   <div class="form-container" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <input matInput typ e="email" id="inputEmail" placeholder="Email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="password" id="inputPassword" placeholder="Password">
              </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <input matInput type="text" id="inputAddress" placeholder="Address">
            </mat-form-field>
        </div>
    </div>
  </div> -->
<!-- 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress11" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress12" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button> -->
