<div class="mat-typography">
    <app-notification></app-notification>
    <header>
        <mat-toolbar>
            <mat-toolbar-row>
                <div fxFlex="1 1 50%" fxLayout="row" fxLayoutAlign="center" class="flex-container">
                    <div fxFlex class="logo-container">
                        <img src="resources/assets/tiaa_logo.svg" />
                        <button mat-button [matMenuTriggerFor]="menu" class="header-btn">MENU</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                    </div>
                </div>
                <div fxFlex="1 1 50%" fxLayout="row" fxLayoutAlign="center" class="flex-container">
                    <div class="header-icons">
                        <a href="#">
                            <mat-icon fontSet="fa" class="fa-search"></mat-icon>
                        </a>
                        <a href="#">
                            <mat-icon fontSet="fa" class="fa-users"></mat-icon>
                        </a>
                        <a href="#">
                            <mat-icon fontSet="fa" class="fa-cog"></mat-icon>
                        </a>
                    </div>
                    <button mat-button class="header-btn">LOG OUT</button>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="nav-links">
                    <div>
                        <a href="#">Account summary</a>
                    </div>
                    <div>
                        <a href="#">Goals</a>
                    </div>
                    <div>
                        <a href="#">Actions</a>
                    </div>
                    <div>
                        <a href="#">Resources</a>
                    </div>
                    <div>
                        <a href="#">Products</a>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <div fxLayout="row" class="content">
        <div fxFlex="1 1 30%"></div>
        <div fxFlex="1 1 40%">
            <div class="content-heading">How do you want to change your investments?</div>
            <span class="explore-text">Explore investing choices</span>

        </div>
        <div fxFlex="1 1 30%"></div>

    </div>
    <footer>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="social-icons">
                <a href="#">
                    <mat-icon fontSet="fa" class="fa-facebook"></mat-icon>
                </a>
                <a href="#">
                    <mat-icon fontSet="fa" class="fa-twitter"></mat-icon>
                </a>
                <a href="#">
                    <mat-icon fontSet="fa" class="fa-instagram"></mat-icon>
                </a>
                <a href="#">
                    <mat-icon fontSet="fa" class="fa-linkedin"></mat-icon>
                </a>
                <a href="#">
                    <mat-icon fontSet="fa" class="fa-youtube"></mat-icon>
                </a>
            </div>
            <div></div>
        </div>
    </footer>
</div>