.mat-toolbar .mat-toolbar-row {
    height: 60px;
}

.mat-toolbar .mat-toolbar-row:first-child {
    background: #fffeff;
}

.mat-toolbar .mat-toolbar-row:last-child {
    background: #276da1;
}

.flex-container {
    height: 100%;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    margin-right: 20px;
}

.header-btn {
    height: 100%;
    background: #eae8ea;
    font-weight: 700;
}

.header-icons {
    padding-top: 10px
}

.header-icons a {
    margin-right: 10px;

}

.header-icons a:link,
.header-icons a:hover {
    color: #010001;
}

.nav-links {
    width: 100%;
    height: 100%;
}

.nav-links a {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.content {
    height: 500px;
    background: #f5f4f6;
    text-align: center;
}

.content-heading {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 700;
}

.explore-text {
    border: 2px solid #000;
    border-radius: 100px;
    display: inline-block;
    padding: 5px 30px;
    font-weight: 700;
    margin-top: 30px;
}

.investment-actions-section {
    margin-top: 30px;
}

.investment-actions-section div {
    background-color: #fffeff;
    height: 200px;
    padding: 10px 20px;
    border-radius: 10px;
}

.investment-actions-section div ul {
    list-style: none;
    padding: 0;
}

.investment-actions-section div ul li:first-child {
    color: #cdcbcd;
    margin-bottom: 10px;
}

.investment-actions-section div ul li:first-child .mat-icon {
    font-size: 35px;
}

.investment-actions-section div ul li:nth-child(2) {
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 20px;
}

.investment-actions-section div ul li:last-child {
    font-size: 12px;
    font-weight: 200;
}

.help-section {
    margin-top: 20px;
}

.help-section a:link {
    text-decoration: underline;
    
}

footer {
    height: 100%;
    background: #010001;
    text-align: center;
}

.social-icons a:link,
.social-icons a:hover {
    color: #fdffff;
}