<div fxLayout="row" class="content">
    <div fxFlex="1 1 28%"></div>
    <div fxFlex="1 1 44%">
        <div class="content-heading">How do you want to change your investments?</div>
        <span class="explore-text">Explore investing choices</span>
        <div fxLayout="row" fxLayoutGap="20px" class="investment-actions-section">
            <a fxFlex routerLink="./">
                <ul>
                    <li>
                        <mat-icon fontSet="fa" class="fa-circle-thin"></mat-icon>
                    </li>
                    <li>
                        Exchange
                    </li>
                    <li>Swap one or more of your current investments for new ones</li>
                </ul>
            </a>
            <a fxFlex routerLink="./">
                <ul>
                    <li>
                        <mat-icon fontSet="fa" class="fa-circle-thin"></mat-icon>
                    </li>
                    <li>
                        Choose future investments
                    </li>
                    <li>Pick for incoming money only, and keep what you have now.</li>
                </ul>
            </a>
            <a fxFlex routerLink="../app-section/changeInvestment">
                <ul>
                    <li>
                        <mat-icon fontSet="fa" class="fa-circle-thin"></mat-icon>
                    </li>
                    <li>
                        Rebalance
                    </li>
                    <li>Realign your entire portfolio by investment type or category.</li>
                </ul>
            </a>
        </div>
        <div class="content-heading">Need help?</div>
        <div class="help-section">Try our <a routerLink="./">online Retirement Advisor</a> tool to get personalized
            recommendations.</div>
    </div>
    <div fxFlex="1 1 28%"></div>
</div>
<div fxLayout="row" class="notice-section">
    <div fxFlex="1 1 28%"></div>
    <div fxFlex="1 1 44%">
        <div class="notice-heading">Important Information</div>
        <div class="notice-content">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo.</div>
            <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</div>
            <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                labore
                et dolore magnam aliquam quaerat voluptatem.</div>
            <div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est
                laborum. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</div>
        </div>
    </div>
    <div fxFlex="1 1 28%"></div>
</div>